<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="mt-4 flex-row w-100 justify-content-center">
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                {{ getExperienceYears() }}+ years of experience
                <br>in Software Development with
                <br>a focus on the Backend side
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Web Development<br>Cloud and devops engineering
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-3">
        <p>
          Fedi Abdouli 24-year-old IT Manager at a thriving startup, bringing a wealth of experience and passion for driving innovative solutions. With a deep understanding of software design and system architecture, I excel in bridging the gap between technical excellence and business goals.
          Highly skilled Backend Software Engineer with a strong passion for creating well-architected, high-quality software solutions. Adept at analyzing complex requirements and translating them into efficient, scalable, and maintainable backend systems. Committed to delivering impactful results through a combination of technical expertise and a strategic mindset.
        </p>
      </div>
    </div>
  </div>
</section>
