<div id="profile" class="container col-12 col-md-8 my-5 mx-auto">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <img ngSrc="/profile.jpg" alt="Profile image" class="img-fluid profile-pic rounded-circle overflow-hidden square-image"
           width="1508" height="2000">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <p class="fs-5">Hello, I'm</p>
      <h1 class="fw-bold">Fedi Abdouli</h1>
      <p class="subtitle fs-4">Software Engineer</p>
      <div class="d-flex justify-content-center mt-4">
        <a class="bt btn-color-2 me-2" href="/cv.pdf" download>
          Download CV
        </a>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a href="https://www.linkedin.com/in/fediabdouli/" target="_blank">
          <i class="fab fa-linkedin fa-3x icon mx-2 pointer"></i>
        </a>
        <a target="_blank" href="https://github.com/cs-fedy">
          <i class="fab fa-github fa-3x icon mx-2 pointer"></i>
        </a>
      </div>
    </div>
  </div>
</div>
